<div class = " head, col-12, flex">

  <div class = "icons, flex" style = "margin: auto;height:40px;width: 20%;">
  <span class = "flex" style="margin:auto;">
    <a href = "https://www.facebook.com/Khwarizm-1102263816503841/?skip_nax_wizard=true">
      <img src = "{{site.baseurl}}/img/f.png" class="up-follow-img" style="margin:5px;">
    </a>
    <a href="">
      <img src="{{site.baseurl}}/img/go.png"  class="up-follow-img"style="margin:5px;"></a>
    <a href = "">
      <img src="{{site.baseurl}}/img/t.png"  class="up-follow-img " style="margin:5px;"></a>
    <a href = "https://github.com/Khwarizm">
      <img src="{{site.baseurl}}/img/g.png" class="up-follow-img" style="margin:5px;"></a>
  </span>
  </div>

  <div style = "width: 60%;height:30%;margin:auto;;">
    <a href = "{{site.baseurl}}/index.html">
      <img src="{{site.baseurl}}/img/khwarizm.png" class="header-logo" style = "display:block;">
    </a>
  </div>

  <div class ="home" style = "width: 20%;margin:auto;">
    <a href = "{{site.baseurl}}/index.html">
      <img  src="{{site.baseurl}}/img/home.png" style = "height:20%;width:20%;display:block;margin:auto;">
    </a>
  </div>
  
</div>